*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0.3125rem; /* 5px */
}

/* Hero Section */
.hero-section {
    /* Container */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0.625rem; /* 10px */
    /* Container */

        /* Title */
    .hero-title {
        background: rgba(178, 67, 67, 0.671);
        font-size: 1.3rem;
        border-radius: 5px;
        text-shadow: 0 0 5px black;
        margin-bottom: 0.7rem; /* 11.2px */
        padding: 0.1875rem 0.4375rem; /* 3px 7px */
    }
        /* Title */

        /* Teks */
    .hero-text {
        background: rgba(84, 123, 177, 0.671);
        font-size: 0.9rem;
        border-radius: 5px;
        text-shadow: 0 0 5px black;
        margin-bottom: 0.7rem; /* 11.2px */
        padding: 0.3125rem 0.625rem; /* 5px 10px */
    }
        /* Teks */
}
/* Hero Section */


/* Activities Section */
.activities-section {
    /* Container */
    background-color: rgba(235, 229, 235, 0.644);
    margin-bottom: 0.625rem; /* 10px */
    padding-bottom: 0.625rem; /* 10px */

    .activities-title {
        font-size: 0.9rem;
        text-align: center;
        padding: 0.3125rem 0; /* 5px 0 */
    }
    .activities-img {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    }
}
.grid-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0 0.3125rem; /* 0 5px */
}
.grid-flex {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0 0.625rem; /* 0 10px */
}
/* Activities Section */


/* Facts Section */
.facts-section {
    /* Container */
    background-color: rgba(84, 123, 177, 0.671);
    flex-grow: 1;
    color: white;
    padding: 0.3125rem ; /* 5px */
    /* Container */

    /* Teks */
    .facts-teks {
    margin: 1rem; /* 5px */
    text-shadow: 0 0 2px black;
    }
    /* Teks */

/* Fact 1 */
    .fact-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    }

}
.fish-img {
    width: 100%;
    height: 9.375rem; /* 150px */
    opacity: 0.9;
    border-radius: 0.625rem; /* 0 10px */
}
/* Fact 1 */

/* Fact 2 */
.fact-2-link {
    background-color: rgb(70, 69, 69);
    color: white;
    font-size: 0.5rem;
    border-radius: 10px;
    padding: 3px 5px;

    &:hover {
        background-color: rgb(26, 25, 25);
        transition: all 0.1s;
    }
}
/* Fact 2 */
/* Facts Section */

/* Footer */
.footer {
    background-color: rgba(84, 123, 177, 0.671);
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.625rem; /* 10px */
    padding: 5px;
}
/* Footer */

/* Media query */
@media (width >= 640px) {
    .grid-section {
    grid-template-columns: repeat(3, 1fr);
    place-items: start;
    }
    .grid-flex {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
    }
    .fact-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .fish-img {
    width: 100%;
    height: 18.75rem; /* 300px */
    object-fit: cover;
    opacity: 0.9;
    border-radius: 0.625rem; /* 0 10px */
}
}
/* Media query */
